@tailwind utilities;
@tailwind base;

@layer utilities {
  .alert_input,
  .alert_input:focus {
    outline: 3.2px solid rgba(255, 0, 0, 0.32) !important;
    border: 1px solid rgba(255, 0, 0, 0.48) !important;
  }
}

@layer base {
  .no_input {
    border: unset;
    /* padding-inline: 2px; */
  }
  .no_input:hover,
  .no_input:focus {
    outline: unset;
    border: unset;
  }

  .rounded_input {
    border-radius: 58px;
  }

  .datePicker_input:hover,
  input:hover,
  textarea:hover {
    border: 1px solid rgba(108, 48, 237, 0.48);
  }

  .datePicker_input:focus,
  input:focus,
  textarea:focus {
    outline: 3.2px solid rgba(108, 48, 237, 0.32);
  }

  .datePicker_input:disabled,
  input:disabled,
  textarea:disabled {
    cursor: not-allowed;

    background: var(--grey-color);
    border-color: var(--grey-color);
  }
}
