@tailwind components;
@tailwind utilities;
@tailwind base;

@import 'swiper/css';
@import '../styles/swiper.css';
@import '../styles/button.css';
@import '../styles/inputs.css';

:root {
  --load_box-z-index: 99999;
  --message-z-index: calc(var(--load_box-z-index) - 1);
  --modal-z-index: calc(var(--message-z-index) - 1);
  --tooltip-z-index: calc(var(--modal-z-index) - 1);
  --header-z-index: calc(var(--tooltip-z-index) - 1);

  --primary-color: #6c30ed;
  --dark-color: #222222;
  --grey-color: #ededed;
  --dark-grey-color: #d9d9d9;
  --light-grey-color: #f3f3f3;

  --scrollbar-width: 4px;
  --header-height: 60px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

*::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: 4px;

  background-color: rgba(112, 62, 254, 0);
  border-radius: 58px;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 36px;
}

body {
  color: var(--dark-color);
}

body *:disabled,
body *:disabled::placeholder {
  color: hsl(0, 0%, 50%);
}

@layer utilities {
  /* number input-iin arrow-iig alga bolj bn */
  .no_arrow::-webkit-outer-spin-button,
  .no_arrow::-webkit-inner-spin-button {
    -webkit-appearance: unset;
    margin: 0;
  }

  .insta_gradient_bg {
    background: radial-gradient(
        92.18% 99.11% at 26.56% 107.7%,
        #fd5 0%,
        #fd5 10%,
        #ff543e 50%,
        #c837ab 100%
      ),
      #fff;
  }
  .insta_gradient_bg:hover {
    background: var(--primary-color);
    color: white;
  }

  .text_balance {
    text-wrap: balance;
  }

  .width_effect {
    transition: width 0.4s linear;
  }

  .background_img_1 {
    background-image: url('/images/background.png');
    background-repeat: repeat;
    background-size: cover;
  }

  .background_img_2 {
    background-image: url('/images/background.png'),
      url('/images/background_grid.svg');
    background-repeat: no-repeat, repeat;
    background-size: cover;
  }

  .admin_layout {
    display: grid;

    grid-template-columns: min-content 1fr;
    grid-template-rows: minmax(100vh, 1fr);
    grid-template-areas: 'sidebar  admContent';
  }

  .layout {
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows:
      var(--header-height)
      repeat(2, auto);

    grid-template-areas:
      'header'
      'content'
      'footer';
  }
}

@layer base {
  input[type='file'] {
    display: none;
  }

  a:hover {
    color: var(--primary-color);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: normal;
    font-weight: bolder;
  }

  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.6em;
  }
  h3 {
    font-size: 1.2em;
  }
  h4 {
    font-size: 1em;
  }
  h5 {
    font-size: 0.84em;
  }
  h6 {
    font-size: 0.68em;
  }

  button {
    cursor: pointer;

    line-height: 1.5715;
    width: fit-content;
    height: 34px;

    color: white;
    background: linear-gradient(
      136deg,
      #b947ff -14.36%,
      #4a19d6 52.52%,
      #33b3ca 122.64%
    );

    text-wrap: nowrap;

    border-radius: 8px;
    border: 1px solid transparent;
    box-shadow: 4px 4px 15.8px 0px rgba(112, 62, 254, 0.4),
      0px -4px 12px 0px rgba(0, 0, 0, 0.07),
      0px 4px 4px 0px rgba(255, 255, 255, 0.25) inset;

    padding-inline: 12px;
  }

  input,
  textarea {
    outline: unset;

    height: 34px;

    color: var(--dark-color);
    border-radius: 8px;
    border: 1px solid var(--grey-color);
    font-size: 14px;

    padding-inline: 8px;
  }

  textarea {
    height: auto;

    padding-block: 4px;
  }
}

.load_spinner {
  width: 36px;
  aspect-ratio: 1;

  border-radius: 100%;

  background: radial-gradient(farthest-side, var(--primary-color) 94%, #0000)
      top/4.8px 4.8px no-repeat,
    conic-gradient(#0000 30%, var(--primary-color));
  -webkit-mask: radial-gradient(
    farthest-side,
    #0000 calc(100% - 4.8px),
    #000 0
  );

  animation: rotation 1s infinite linear;
}
@keyframes rotation {
  100% {
    transform: rotate(1turn);
  }
}
